.swiper_container {
  width: 100%;
  padding-bottom: 50px;
}


.slider-controler {
  /* position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between; */
  /* transform: translateY(-50%); */
}

.slider-arrow, .swiper-button-prev, .swiper-button-next {
  display: none !important;
}



.swiper-pagination {
  position: absolute;

}

.swiper-pagination .swiper-pagination-bullet {
  background: #4f0142;
  opacity: 0.5;
}

.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}


  /* .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0 !important;
    left: 50% ;
    width: 11% !important;
    transform: translateX(-50%) !important
  } */



@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}