@tailwind base;
@tailwind components;
@tailwind utilities;


  

html {
    scroll-behavior: smooth;
}
  
  body {
    font-family: 'Optimal Pro', sans-serif;
  }
.leaflet-container {
    z-index: 1;
}
select{
background: transparent !important;
}

/* Custom Pagination Styles */
.custom-pagination {

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
  z-index: 10;
  justify-content: end;
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #905c87; /* Dot color */
  opacity: 0.5;
  transition: opacity 0.3s ease;
  margin: 0 !important; /* Remove default margin */
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1; /* Active dot color */
}